html, body {margin : 0px;padding:0;background-color: #808080;font-family: sans-serif;}

/*** NAVIGATION BAR ***/
#logo img {margin-right:40px;}
#header {width:100%;background-color: #C0C0C0;border-top: 4px solid #5270a3;border-bottom: 4px solid #5270a3;position: fixed;z-index: 2000;}
.header_block {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    padding-top: 2px;
    padding-bottom: 10px;
}
.navBar_icon  {display:block;margin:auto;}
.navBar_titre {padding-left:4px;}

#header_input {vertical-align:middle;float: right;padding: 10px 10px;background: #90aac4;color: #34495E;cursor:pointer;border-radius: 12px;margin-right:8%;margin-top:3.2%;}
#header_input:hover {background:#384261 ;color:#39D2B4 ;transition: all .4s;}

#header nav{display:inline-block;float:left;width:100%;}
#header nav ul{display:inline-block;float:left;}
#header nav ul li {display: inline-block;margin-left: 35px;}
#header nav ul li a {
    color: #4074bf;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
	text-align:center;
    transition-duration: 0.5s;
    transition-property: all;
}

/*** SLIDER ***/

#heading {padding-top:100px;width: 100%;height: 400px;overflow: hidden;padding-top:130px;}
.heading_pic {height: 400px;}
#heading ul {/* 3 images donc 3 x 100% */width: 300%;height: 200px;padding:0; margin:0;list-style: none;}
#heading li {float: left;}

/*** ABOUT SECTION ***/

#about {
    position: relative;
    color:#424753;
    margin-top:20px;
	border-radius: 2%;
	margin-left:4%;
	margin-right:1%;
    background-color: #C0C0C0;
    width: 41%;
	height: 100%;
    padding-left: 2%;
    padding-right: 2%;
	float:left;
	display:inline-block;
}
.about_title {line-height: 4;text-align: center;margin-bottom: 10px;border: 6px outset grey;}
.about_text {line-height: 2; width:100%;display: inline-block;text-align: justify;
            margin-top: 20px; opacity:0;}
#text_1 {padding-right:4%;border-right: 1px solid #616a77;}
#text_2 {padding-left:4%;}

/*** TEAM SECTION ***/

#team {
    position: relative;
	border-radius: 2%;
    color:#424753;
    margin-top:20px;
	margin-left:4%;
	margin-right:4%;
	margin-bottom:1px;
    background-color: #C0C0C0;
    width: 76%;
    padding-left: 8%;
    padding-right: 8%;
	padding-top:20px;
	}

.team_title {line-height: 4;text-align: center;margin-bottom: 20px;border: 6px outset grey;}
.team_text {line-height: 2; width:100%;display: inline-block;text-align: justify;}
.team_list {list-style: none; opacity:0;margin-left: 20px;}
.team_member {cursor:pointer;display: inline-block; padding:5px;margin: 5px; margin-left: 10px;background-color: #5780bd;border-radius: 4px;}
.team_member:hover {background-color:#95c8d6 ;transition:600ms;}
.team_member img {
    width: 60px;
    box-shadow:  2px 1px 2px #333333; /*horizontal vertical fondu couleur (+inset pour inverser l'orientation*/
    margin-right: 20px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
}
.team_member div {border-left: 1px dashed #616a77;padding-left: 5px;display: inline-block;}


#double_div{display:inline-block;}  /**  Div NUMBERS + TEAM  **/
/*** NUMBERS SECTION ***/

#numbers {
    position: relative;
	border-radius: 2%;
    color:#424753;
    margin-top:20px;
	margin-left:1%;
	margin-right:4%;
	margin-bottom:1px;
    background-color: #C0C0C0;
    width: 41%;
	height:auto;
    padding-left: 2%;
    padding-right: 2%;
	float:right;
	display:inline-block;}
	
	

.numbers_title {line-height: 4;text-align: center;margin-bottom: 20px;border: 6px outset grey;}
.numbers_graph{margin-left:7%;}
.numbers_graph img{width:80%;}
.numbers_list{list-style: none;}

/*** FOOTER ***/

#footer {position: relative;background-color: #312f38;height: 100px;width: 100%;margin-top: 50px;margin-bottom:1px;}
#footer_container h5 {margin-left: 0%;margin-right: 7%;color: #f0f0f0;height: 40px;display:inline;vertical-align:middle;}
#footer_container {margin-left: 30%;width: 50%;padding-top: 30px;}

#footer_input {vertical-align:middle;float: right;padding: 10px 10px;background: #384261;color: #39D2B4;cursor:pointer;border-radius: 12px;}
#footer_input:hover {background: #90aac4;color: #34495E;transition: all .4s;}
#footer_input2 {vertical-align:middle;float: right;padding: 10px 10px;background: #384261;color: #39D2B4;cursor:pointer;border-radius: 12px;margin-right:4px;}
#footer_input2:hover {background: #90aac4;color: #34495E;transition: all .4s;}

/* champ
.line {
  display: block;
  border: none;
  color: #333;
  background: transparent;
  border-bottom: 1px dotted black;
  padding: 5px 2px 0 2px;
}

.line:focus { 
  outline: none;
  border-color: #51CBEE;
}*/