html, body {margin : 0px;padding:0;background-color: #dadada;}

/* NAV */

#nav_bar {
	background-color: #454547;
	height: 60px;width: 100%;font-family: Toledo;
	position: absolute fixed;z-index: 100;overflow: hidden;}

.nav_button {text-decoration: none;color: white;margin:0px 0px 0px 10px;height: 60px;
	padding: 2px 4px 2px 4px;float: left;line-height: 50px;}

.nav_button:hover{background-color: #80759e; transition: 500ms;}

#nav_logo {width: 100px;height: 60px;float: left;}

/* PAGE */

.slideshow {margin-left: 10%;width: 80%;height: 200px;overflow: hidden;background-color: yellow;}
.slidshow ul {padding:0;position: relative;height: 200px;margin: 0px;list-style: none;}
.slidshow ul li img {margin:0;position: relative;}
#accueil_container {margin-left: 10%;width: 80%;height: 1000px;
					background-color:#F1F1F1;}
.paragraph {width: 90%;text-align: justify;font-family: Helvetica;color: #3c3c3c;margin-left: 5%;}